  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

      * {
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
        justify-content: center;
        font-family: "Poppins", sans-serif;
      }

      body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: linear-gradient(to right, #cfdef3, #e0eafc);
      }

      .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
      }

      .drag-image {
        border: 2px dashed black;
        height: 300px;
        width: 350px;
        border-radius: 10px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: whitesmoke;
      }

      .drag-image.active {
        border: 2px solid #fff;
      }

      .drag-image .icon {
        font-size: 30px;
        color: black;
      }

      .drag-image h6 {
        font-size: 20px;
        font-weight: 750;
        color: black;
      }

      .drag-image span {
        font-size: 14px;
        font-weight: 750;
        color: black;
        margin: 10px 0 15px 0;
      }

      .drag-image button {
        padding: 10px 25px;
        font-size: 14px;
        font-weight: 750;
        border: none;
        outline: none;
        background: transparent;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s;
      }

      .drag-image button:hover {
        background-color: #fff;
        color: red;
      }

      .drag-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .button {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        width: 10rem;
        padding: 0.5rem 3.125rem;
        background-color: #3498db;
        border: none;
        border-radius: 15px;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        /* margin-left: 20%; */
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        overflow: hidden;
      }

      .button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border: 4px solid #fff;
        border-top: 4px solid transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        visibility: hidden;
      }

      @keyframes spin {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }

      .button.loading::after {
        visibility: visible;
      }

      .loading-text {
        visibility: hidden;
      }

      .loading-icon {
        visibility: visible;
      }